page-event {
	 .type_1{ border-top: 2px solid #478aff; }
	 .type_2{ border-top: 2px solid #AC282B; }
	 .type_3{ border-top: 2px solid #B16BE3; }
	 .type_4{ border-top: 2px solid #FE4C52; }
	 .type_5{ border-top: 2px solid #FD8B2D; }
	 .type_6{ border-top: 2px solid #FED035; }
	 .type_7{ border-top: 2px solid #69BB7B; }
	 .type_8{ border-top: 2px solid #3BC7C4; }
	 .type_9{ border-top: 2px solid #8E8D93; }
	 .type_10{ border-top: 2px solid #6600CC; }

	 .color_primary{
	 	color: #478aff;
	 }
	 .clear_color{
	 	color: gray;
	 }
}

