$categories: (
 
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
	 .type_1{ border-left: 3px solid  #478aff; padding-left: 10px; }
	 .type_2{ border-left: 3px solid  #AC282B; padding-left: 10px; }
	 .type_3{ border-left: 3px solid  #B16BE3; padding-left: 10px; }
	 .type_4{ border-left: 3px solid  #FE4C52; padding-left: 10px; }
	 .type_5{ border-left: 3px solid  #FD8B2D; padding-left: 10px; }
	 .type_6{ border-left: 3px solid  #FED035; padding-left: 10px; }
	 .type_7{ border-left: 3px solid  #69BB7B; padding-left: 10px; }
	 .type_8{ border-left: 3px solid  #3BC7C4; padding-left: 10px; }
	 .type_9{ border-left: 3px solid  #8E8D93; padding-left: 10px; }
	 .type_10{ border-left: 3px solid  #6600CC; padding-left: 10px; }
	// .ion-item-sliding{
	// 	border-left: 2px solid red;
 //     	padding-left: 10px;
	// }
	.margin-left{
		margin-left: 3px;
	}
}
