page-track {
	background-color: white;
	 .type_1{ border-left: 3px solid #478aff; margin-left: 3px; background-color: white; }
	 .type_2{ border-left: 3px solid #AC282B; margin-left: 3px; background-color: white; }
	 .type_3{ border-left: 3px solid #B16BE3; margin-left: 3px; background-color: white; }
	 .type_4{ border-left: 3px solid #FE4C52; margin-left: 3px; background-color: white; }
	 .type_5{ border-left: 3px solid #FD8B2D; margin-left: 3px; background-color: white; }
	 .type_6{ border-left: 3px solid #FED035; margin-left: 3px; background-color: white; }
	 .type_7{ border-left: 3px solid #69BB7B; margin-left: 3px; background-color: white; }
	 .type_8{ border-left: 3px solid #3BC7C4; margin-left: 3px; background-color: white; }
	 .type_9{ border-left: 3px solid #8E8D93; margin-left: 3px; background-color: white; }
	 .type_10{ border-left: 3px solid #6600CC; margin-left: 3px; background-color: white; }
	 .type__1{ color: #478aff; }
	 .type__2{ color: #AC282B; }
	 .type__3{ color: #B16BE3; } 
	 .type__4{ color: #FE4C52; }
	 .type__5{ color: #FD8B2D; }
	 .type__6{ color: #FED035; }
	 .type__7{ color: #69BB7B; }
	 .type__8{ color: #3BC7C4; }
	 .type__9{ color: #8E8D93; }
	 .type__10{ color: #6600CC; }
}
