page-tracks {
	 .type_1{ border-left: 3px solid #478aff; }
	 .type_2{ border-left: 3px solid #AC282B; }
	 .type_3{ border-left: 3px solid #B16BE3; }
	 .type_4{ border-left: 3px solid #FE4C52; }
	 .type_5{ border-left: 3px solid #FD8B2D; }
	 .type_6{ border-left: 3px solid #FED035; }
	 .type_7{ border-left: 3px solid #69BB7B; }
	 .type_8{ border-left: 3px solid #3BC7C4; }
	 .type_9{ border-left: 3px solid #8E8D93; }
	 .type_10{ border-left: 3px solid #6600CC; }

	 .margin-left{
		margin-left: 3px;
	}
}
